.game-detail-left {
  height: $main-height;
  padding-bottom: 10px;
}

.game-detail-right {
  height: $main-height;
  display: flex;
  flex-flow: column;

  > .room-users {
    flex: 0 0 auto;
    height: 120px;
    min-height: 120px;
    overflow: auto;
    resize: vertical;
  }

  > .room-logs {
    flex: 1 1 auto;
    min-height: 200px;
    margin-bottom: 0;
  }
}

.game-player-wrapper {
  .game-player {
    width: 50%;
    float: left;
    padding: 2px;
  }
}

.game-player-low-time {
  font-weight: bold;
  color: $orange;
  animation: game-time-blinker 1s linear infinite;
}

.game-player-very-low-time {
  font-weight: bold;
  color: $red !important;
  background: #000;
  padding: 2px 5px;
  animation: game-time-blinker 1s linear infinite;
}

@keyframes game-time-blinker {
  50% { opacity: 0.5; }
}

.game-options {
  margin-top: 5px;
  margin-bottom: 5px;
}

.game-navigation {
  height: 100px;
  min-height: 50px;
  margin-bottom: 5px;

  border: 1px solid $gray-lighter;

  resize: vertical;
  overflow: auto;

  * {
    @include user-select(none);
    white-space: nowrap;
  }

  .game-move-tree {
    margin-left: 10px;

    .game-nav-node-label {
      cursor: pointer;
      display: block;
      margin-left: 20px;

      &:hover, &.active {
        font-weight: bold;
      }
    }
  }

  > .game-move-subtree {
    margin-left: 2px;
  }

  .game-nav-node-plus-minus {
    cursor: pointer;
    float: left;
  }
}

.game-nav-buttons {
  margin-bottom: 5px;

  .btn {
    width: calc(25% - 5px);
    margin-left: 1px;
    margin-right: 1px;
  }
}

.game-demo-tools {
  width: auto;
}
